:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.fullGrid {
    display: grid;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}

.body {
    display: flex;
    
}

.top {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#reset {
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
}